{%extends 'main/layout.html'%}
{%block head%}Ближайшие банковские учреждения, расчетные счета{%endblock%}


{%block place%}
<p class="top_text">Ближайшие банковские учреждения, расчетные счета</p>
{%endblock%}
{%block body%}
    <div class="write_text">
    <div><br><br>
    <h3>Ближайшее банковское учреждение находится:</h3>
    <p>ОАО "АСБ Беларусбанк" отделение №214/2114<br>
        г. Новополоцк ул. Молодежная д. 16<br>
            тел. +375(21)458-50-92<br>
                тел.+375(21)458-36-79</p><br>

    <h3>Режим работы:</h3>
    <p>Будние дни: с 10:00 до 19:00; перерыв с 14:00 до 15:00<br>
        суббота, воскресенье - выходной</p><br>

    <h3>Расчетный счет:</h3>
    <p>p/c BY67 AKBBY 3012 0163 6212 1230 0000<br>
        ОАО "АСБ Беларусбанк",<br>
            BIC AKBBBY2X УНП 300002084 </p>
    </div>
        </div>
{%endblock%}
