{%extends 'main/layout.html'%}
{%block head%}Книга замечаний и предложений{%endblock%}


{%block place%}
<p class="top_text">Книга замечаний и предложений</p>
{%endblock%}
{%block body%}
    <div class="write_text">
    <div><br><br>
<br><br><br><br>
    <h1>КНИГА</h1>
      <h3>Замечаний и предложений</h3>
    <p>находится по адресу г. Новополоцк, ул. Гайдара, 5 <br>
        Административное здание ПУ "Полоцкгаз", консультант<br>
          Ответственный за ведение книги<br>
            замечаний и предложений –<br>
              начальник сектора по работе с населением</p>
    <h3>Марудов Владислав Валерьевич,<br>
          каб. №5, тел. 162</h3>
    </div>
        </div>
{%endblock%}
