{%extends 'main/Shell.html'%}
{%load static%}

{%block head%}Структура руководства{%endblock%}

{%block topbar%}
<div class="topbar">
    <table>
        <tr>
            <td height="20vh"><a class="back" href="{%url 'onewindow'%}">Назад</a></td>
            <td><a class="toptext">Структура руководства</a></td>
        </tr>
    </table>

</div>
{%endblock%}
{%block body%}
<center>
    <div class="botton_color_for_menu">
    <table class="main_table_leadership">
    <td>
          <tr><a href="{%url 'Leadership_Polotsk'%}"><img class="logo_leadership" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a></tr>
          <tr><a href="{%url 'Leadership_Polotsk'%}"><img class="logo_leadership" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a></tr>
          <tr><a href="{%url 'Leadership_Vitebsk'%}"><img class="logo_leadership" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a></tr>
          <tr><a href="{%url 'Leadership_Beltop'%}"><img class="logo_leadership" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a></tr>
          <tr><a href="{%url 'Leadership_Minenergo'%}"><img class="logo_leadership" src="{%static 'main/img/logo_new.png'%}" alt="Logo"></a></tr>
    </td>

        <td>
          <tr><a href="{%url 'Leadership_Polotsk'%}"><button  class="button_second_block_test">Руководство Шумилино</button></a></tr>
          <tr><a href="{%url 'Leadership_Polotsk'%}"><button  class="button_second_block_test">Руководство ПУ "Полоцкгаз"</button></a></tr>
          <tr><a href="{%url 'Leadership_Vitebsk'%}"><button class="button_second_block_test">Руководство УП "Витебскоблгаз"</button></a></tr>
          <tr> <a href="{%url 'Leadership_Beltop'%}"><button class="button_second_block_test">Руководство ГПО "Белтопгаз"</button></a></tr>
          <tr><a href="{%url 'Leadership_Minenergo'%}"><button class="button_second_block_test">Руководство Минэнерго</button></a>

        </tr>
    </table>
    </div>
    </center>

{%endblock%}
