{%extends 'main/layout.html'%}
{%block head%}Извещение об отсутствии{%endblock%}


{%block place%}
<p class="top_text">Извещение об отсутствии</p>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <p href="{{ el.Application_for_liquidation_of_the_registered_IBU}}" class="names">{{ el.title }} {{el.times}}</p>
                <embed class="docs_view" src="{{ el.Application_for_liquidation_of_the_registered_IBU_doc.url }}" >

        </div>
</center>
{%endfor%}
{%endblock%}
