{%extends 'main/layout.html'%}
{%block head%}Извещение об отсутствии{%endblock%}


{%block place%}
<p class="top_text">Извещение об отсутствии</p>
{%endblock%}
{%block body%}
{%for el in data%}

<center>
        <div class="botton_color">
                <p href="{{ el.Statements_for_writing_off_penalties}}" class="names">{{ el.title }} {{el.times}}</p>
                <embed class="docs_view" src="{{ el.Statements_for_writing_off_penalties_doc.url }}" >
        </div>
</center>
{%endfor%}
{%endblock%}
